/* .warehouse-list {
    display: flex;
  } */

  .warehouse-list {
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
    min-height: 100vh;
  }
  
  
  .card {
    /* background-color: #338a63; */
    /* border: 1px solid #ddd; */
    /* border-radius: 5px; */
    /* padding: 10px; */
    /* text-align: center; */
  }

  .location-title {
    font-size: 24px; /* Adjust the font size as needed */
    font-weight: bold;
    background-color: rgb(45, 178, 134);
    color: #0b0d06; /* Set the desired text color */
    margin: 10px 0; /* Add margin for spacing */
    border-bottom: 2px solid #0073e6; /* Add an underline with the desired color */
    padding-bottom: 5px; /* Adjust the padding as needed */
    text-align: center; /* Center-align the title */
  }

  .grid-container {
    display: grid;
    grid-gap: 20px;
    max-width: 100%;
    margin: 0 auto;
    padding: 10px;
  }
  
  /* Define responsive column layout using media queries */
  @media (min-width: 1200px) {
    .grid-container {
      grid-template-columns: repeat(5, 1fr);
    }
  }
  
  @media (max-width: 1199px) {
    .grid-container {
      grid-template-columns: repeat(4, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    .grid-container {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  
  @media (max-width: 600px) {
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 400px) {
    .grid-container {
      grid-template-columns: 1fr;
    }
  }